/* Add Page Styles */
.employee-post-container {
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbe5e8;
  }
  
  .add-heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .post-form {
    
    width: 300px;
    margin: 0 auto;
  }
  
  .add-input {
    width: 180px; /* Match the width of the search button */
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #6e6f6f;
  }
  
  .post-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0eac0e;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .post-button:hover {
    background-color: #359c22;
  }
  