/* EmployeeUpdate.css */



.employee-update-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.add-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: left; 
  justify-content :center;/* Center the heading */
}


.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  margin-top: 5px;
}
.department-select {
  width: 104%;
  height: 35px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #6e6f6f;
}

.update-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #0056b3;
}
