/* Update Page Styles */
.employee-update-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 215px; /* Reduce padding to create more space between elements */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbe5e8;
}

.update-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.update-form {
  width: 100%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width to prevent it from becoming too wide */
  margin: 0 auto;
}

.update-input {
  width: 100%; /* Make the input fields span the full width of their container */
  height: 25px;
  margin-bottom: 15px; /* Add margin at the bottom of each input field */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #6e6f6f;
}

.update-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0debaf;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.update-button:hover {
  background-color: #08c599;
}
